<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated requirement -->
      <package
            uri="http://cam.ac.uk/mbsa/requirement"
            class="requirement.Requirement_Package"
            genModel="metamodel/requirement.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated standard -->
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated component -->
      <package
            uri="http://cam.ac.uk/mbsa/component"
            class="component.Component_Package"
            genModel="metamodel/component.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated safety_concept -->
      <package
            uri="http://cam.ac.uk/mbsa/safety_concept"
            class="safety_concept.Safety_concept_Package"
            genModel="metamodel/safety_concept.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mbsa -->
      <package
            uri="http://cam.ac.uk/mbsa/fta"
            class="fta.Fta_Package"
            genModel="metamodel/mbsa.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mbsa -->
      <package
            uri="http://cam.ac.uk/mbsa/mbsa"
            class="mbsa.Mbsa_Package"
            genModel="metamodel/mbsa.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hazard -->
      <package
            uri="http://cam.ac.uk/mbsa/hazard"
            class="hazard.Hazard_Package"
            genModel="metamodel/hazard.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated component -->
      <package
            uri="http://cam.ac.uk/mbsa/base"
            class="base.Base_Package"
            genModel="metamodel/component.genmodel"/>
   </extension>
</plugin>
